# conda create --prefix=./.venv python=3.12

tensorflow
pandas
scikit-learn
matplotlib
seaborn
statsmodels
tensorflow-datasets
jupyter
pandas-datareader
yfinance
alpha_vantage
cufflinks
nltk
imblearn
datetime
fastapi
uvicorn
motor
passlib
pydantic
email-validator
bcrypt
python-jose[cryptography]
python-multipart
python-dotenv
httpx
dotenv