# conda create --prefix=./.venv python=3.12

tensorflow
pandas
scikit-learn
matplotlib
seaborn
statsmodels
tensorflow-datasets
jupyterlab_widgets
jupyter
ipywidgets
pandas-datareader
yfinance
plotly
cufflinks
nltk